/* Alap stílusok */
body {
    font-family: Arial, sans-serif;
}

/* Hero szekció */
.hero {
    /* 5. feladat */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/golden_circle.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    margin-bottom: 30px;
    color:white;
    text-align: center;
}

.hero h2 {
    color:#2c3e50;
}

.hero p {
    font-size: 1.5rem;
}

/* Címsorok */
h2 {
    color: #2c3e50;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

/* Kártya stílusok */
.card {
    transition: transform 0.3s;
    margin-bottom: 20px;
    

}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Táblázat stílusok */
.table {
    margin: 20px 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}



/* Források stílusok */
#forrasok a{
    color: #776e6e;
    font-style: italic;
    
}